.background {
    background-size: cover !important; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    background-color: rgb(124 118 118 / 36%) !important; /* Keeps a white background as fallback */
}

.position{
    position:relative;
}

.crcle-prof .crcle-prof-preview {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.crcle-prof-preview .background {
    width: 100%;
    height: 100%;
    border-radius: 100%; /* Makes the background circular to match the container */
}

