<div class="container">
    <!-- HEADER  -->
    @if (isLoggedIn) {
    <div class="header flex-row flex-items-center">
        <app-profile-avatar></app-profile-avatar> {{header}}
    </div>
    }
    <!-- CONTENT  -->
    <div class="content">
        <router-outlet />
    </div>
    <!-- FOOTER  -->
    @if (isLoggedIn) {
    <div class="footer flex-space-between flex-items-center">
        @for (item of routes; track $index) {
        <div (click)="navigateTo(item)" class="flex-items-center flex-column">
            <div><app-profile-avatar></app-profile-avatar></div>
            <div>{{item?.route_name}}</div>
        </div>
        }
    </div>
    }
</div>